#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

div.cs-message__content{
  background-color: rgb(158, 79, 231);
}

.cs-main-container{
  border-radius: 10px;
}

body {
 background-color: cornflowerblue;
}

.message{
  display: flex;
}

.message-user{
  display: flex;
  align-items: flex-end;
}
.icon{
  width: 50px;
  height:50px;
}



